.header{
    width: 100%;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
    font-weight: bold;
}

.title{
    float: left;
}

.scores{
    float: right;
}

.instructions{
    font-size: 2rem;
    text-align: center;
    color: rgba(255, 60, 0, 0.843);
}